.header {
    height: 35vh;
    background: url("../../../assets/estampado2.png");
    background-size: cover;
    background-color: white;
}


.contenedor {
    height: 70vh;
    border-radius: 35px;
}