.header {
    height: 35vh;
    background: url("../../../assets/estampado2.png");
    background-size: cover;
    background-color: white;
}

.fotoPerfil {
    background-size: cover; 
    margin-top: -7.5rem; 
}

.fotoFondo {
    background-size: cover; 
    margin-top: -7rem;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    opacity: 60%;
}

.contenedor {
    height: 70vh;
    border-radius: 35px;
}