<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trips" (click)="changeActive('home')">
      <img id="home" src="../../../assets/icon/home-grey.svg">
    </ion-tab-button>

    <ion-tab-button tab="notifications" (click)="changeActive('bell')">
      <img id="bell" src="../../../assets/icon/bell-grey.svg">
    </ion-tab-button>

    <ion-tab-button tab="user" (click)="changeActive('user')">
      <img id="user" src="../../../assets/icon/user-grey.svg">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
