<div class="container text-dark">
  <arrow-back [routerLink]="['/settings']"></arrow-back>
  <page-title title='About'></page-title>

  <div class="mb-5 text-justify">Hi! I'm <span class="text-candypop">Esther Navarro García</span>, developer of veelu. 
    I am a Multimedia Engineer and this app is my final degree project.</div>

  <div class="mb-5 text-justify">My main goal has been to develop an application 
      that would facilitate the task of organizing trips (especially in groups).</div>

  <div class="mb-5 text-justify">I hope that veelu has helped you to make this process a bit easier.</div>

  <div class="mb-5 text-justify">If you find errors in the app or just want to tell me something, please do 
    not hesitate to contact me!</div>

  <div class="mt-12">
    <div class="mb-2"><span class="semibold">Email: </span><span class="text-candypop">esther_ng@hotmail.es</span></div>
    <div class="mb-2"><span class="semibold">Twitter: </span><span class="text-candypop"><a href="https://twitter.com/EstherNavarro__">@EstherNavarro__</a></span></div>
    <div class="mb-2"><span class="semibold">LinkedIn: </span><span class="text-candypop"><a href="http://linkedin.com/in/esnagar/">Esnagar</a></span></div>
  </div>

</div>