$candypop: #FD7F8E;
$sandy: #FFA882;
$lime: #9CD678;
$aquaPearl: #62D3DA;
$textoNegro: #696969;
$grisFormulario: #F2F2F2;
$textoFormulario: #ACACAC;
$rosaClarito: #FECCD2;
$rosaSuperClarito: rgb(255, 239, 241);
$amarilloWarning: #FFE604;
