@import "./colors.scss";

.bg-candypop {
    background-color: $candypop;
}

.bg-sandy {
    background-color: $sandy;
}

.bg-form {
    background-color: $grisFormulario;
}

.bg-twice {
    background: linear-gradient(99.67deg, $sandy -22.98%, $candypop 127.79%);
}

.shadow-twicetagram {
    box-shadow: 0px 4px 10px rgba(253, 127, 142, 0.4);
}

.container {
    height: 100vh;
    width: 100vw;
    padding: 2.5rem;
    background-color: white;
}

.text-dark {
    color: $textoNegro;
}

.text-form {
    color: $textoFormulario;
}

.text-twice {
    color: linear-gradient($sandy 0%, $candypop 100%);
}

.text-candypop {
    color: $candypop;
}

.text-sandy {
    color: $sandy;
}

.text-lime {
    color: $lime;
}

.text-aqua {
    color: $aquaPearl;
}

.text-white {
    color: #fff;
}

.border-candy:focus {
    -webkit-box-shadow:inset 0px 0px 0px 1.2px $rosaClarito;
    -moz-box-shadow:inset 0px 0px 0px 1.2px $rosaClarito;
    box-shadow:inset 0px 0px 0px 1.2px $rosaClarito;
}

.shadow-pink {
    box-shadow: 0px 4px 10px rgba(253, 127, 142, 0.4);
}

.shadow-button {
    box-shadow: 0px 3px 6px rgba(197, 197, 197, 0.4);
}

/********************** FUENTES **********************/

@font-face {
    font-family: 'Regular';
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'SemiBold';
    src: url('../assets/fonts/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Bold';
    src: url('../assets/fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'ExtraBold';
    src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf');
}

* {
    font-family: 'Regular';
}

.regular {
    font-family: 'Regular';
}

.semibold {
    font-family: 'SemiBold';
}

.bold {
    font-family: 'Bold';
}

.extrabold {
    font-family: 'ExtraBold';
}
