<div class="container">
  <page-title title="Your trips"></page-title>
  <search-bar (change)="searchTrips($event)"></search-bar>
  <filters [active]="activeFilter" (filterChanged)="searchTripsFilter($event)"></filters>
  <create-button [routerLink]="['/create-trip']"></create-button>


  <div *ngIf="trips !== undefined; else loading">
    <ion-slides *ngIf="trips.length > 0; else notFound" pager="true" [options]="slideOpts">      
      <ion-slide *ngFor="let trip of trips" class="px-2 text-left">
          <trip-thumbnail *ngIf="(filter !== 'Current' || (filter === 'Current' && trip.fecha_ini <= date))"
           class="w-full outline-none" [info]="trip" [routerLink]="'/trip/' + trip.id" [state]="trip"></trip-thumbnail>
      </ion-slide>
    </ion-slides>

    <ng-template #notFound>
      <div class="w-full flex items-center justify-center text-center text-form semibold text-xl" style="height: 50vh;">
        {{ noTripsMessage }}
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <div class="w-full flex items-center justify-center text-center text-form semibold text-xl" style="height: 50vh;">
      . . .
    </div>
  </ng-template>


</div>
