<div class="container flex flex-col justify-between estampado">
  <div class="w-full flex flex-col items-center">
    <img class="-mt-8 -mb-6" src="../../../assets/logo.svg"/>
    <div class="-mt-32 mb-2 bold text-twice text-2xl wider">Welcome to veelu!</div>
    <div class="text-dark">Start planning your trips right now</div>
  </div>

  <div>
    <button routerLink="/intro/sign-up" class="ion-activatable ripple-parent mb-5 outline-none bg-twice w-full text-center text-white semibold">
      <ion-ripple-effect></ion-ripple-effect>
      Sign up
    </button>
    <button routerLink="/intro/log-in" class="ion-activatable ripple-parent mb-8 outline-none border-pink w-full text-center text-candypop semibold bg-white">
      <ion-ripple-effect></ion-ripple-effect>
      Log in
    </button>
  </div>
</div>